/*

Styling the counter itself.
Set image paths accordingly.

THIS YOU NEED TO KEEP.

*/

h1 {
  margin-top: 80px;
  font: 60px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1 span {
  color: #3cf;
  font-weight: 400;
}

body {
  margin:0;
  padding:0;
  text-align: center;
  background-color: #333;
  color: #fff;
}

#wrapper {
  width: 400px;
  padding: 20px 20px 0 20px;
  -webkit-box-shadow: inset 0px 0px 10px #333;
  -webkit-border-radius: 10px;
  background-color: #fff;
  margin-left: auto ;
  margin-right: auto ;
}

#wrapper p {
  clear: both;
  height: 20px;
}

#widget {
  width: 700px;
  margin-left: auto ;
  margin-right: auto ;
}

.twtr-tweet-text {
  font-size: 30px;
}

ul.cd{float:left;list-style-type:none;margin:0;padding:0}
li.t{background:url(../img/digits-top.png) 0 0 no-repeat;width:53px;height:39px}
li.b{background:url(../img/digits-bottom.png) 0 0 no-repeat;width:53px;height:64px}
li.s{background:url(../img/comma.png) 2px 75px no-repeat;width:12px;height:100px}