/*

Styling the counter itself.
Set image paths accordingly.

THIS YOU NEED TO KEEP.

*/

h1 {
  margin-top: 80px;
  font: 60px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1 span {
  color: #0084B4;
  font-weight: 400;
}

body {
  text-align: center;
}

#wrapper {
  width: 400px;
  margin-left: auto ;
  margin-right: auto ;
}

ul.cd{float:left;list-style-type:none;margin:0;padding:0}
li.t{background:url(../img/digits-top.png) 0 0 no-repeat;width:53px;height:39px}
li.b{background:url(../img/digits-bottom.png) 0 0 no-repeat;width:53px;height:64px}
li.s{background:url(../img/comma.png) 2px 75px no-repeat;width:12px;height:100px}